<%- include("partials/header", { bot, user, path, title: "Kezdőfelület - Rythium" }) %>
  <link rel="stylesheet" href="/css/dashboard.css">
  <!--<meta http-equiv="refresh" content="10; URL=http://dash.rythium.hu/dashboard">-->
  <br>
  <h2 style="text-align: center; color: white;"><strong>Válassz szervert!</strong></h2>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% 
    var guild = user.guilds[0]

    
    user.guilds.forEach(guild=> {
      var perms = new PermissionsBitField();
      perms.add(PermissionsBitField.Flags.ManageGuild)
      
      if(BigInt(guild.permissions) & perms.bitfield != 0) return;
      %>

      <div class="card">
        <div class="icon-holder">
          <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}"
            class="card-img-top server-logo">`
            :
            `<img src="/img/gray_back.png" class="card-img-top server-logo">`
            %>
        </div>

        <div class="card-body">

          <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}"
            class="card-img-top server-icon">`
            :
            `<img src="/img/gray.png" class="card-img-top server-icon">`
            %>

            <div class="center server-name">
              <h5 style="margin-left: 5%; margin-bottom: 15px;" class="card-title center">
                <strong><%= guild.name %></strong>
              </h5>

              

            </div>
            <div>
            <% if(guild.owner){ %>
              <p class="ownershipStatus">
                Tulajdonos
              </p>
              <%} else {%>
                <p class="ownershipStatus">
                  Adminisztrátor
                </p>
                <% } %>
              </div>
            <% if (bot.guilds.cache.get(guild.id)) { %>
              <a href="/dashboard/<%- guild.id %>" class="btn btn-success text-white btn-config butn"><strong>🔧 Kezelés</strong></a>
              <% } else { %>
                <% let invite = `https://discord.com/oauth2/authorize?client_id=1007293246898196521&scope=bot&permissions=8&guild_id=${guild.id}&redirect_uri=https%3A%2F%2Fdash.rythium.hu%2F` %>
                <a target="popup" onclick="window.open('<%= invite %>','name','width=400,height=850')"
                  class="btn btn-primary text-white btn-invite butn">
                <strong>➕ Meghívás</strong>
                </a>
                <% } %>
        </div>
      </div>
      <% }); %>
  </div>

  <%- include("partials/footer") %>